<h1 class="text-center my-3">Cadastro de filmes</h1>
<form action="/Cadastrar" method="post">
 <div class="row w-50 d-block m-auto g-3">
 <div class="col-12">
 <label class="form-label" for="titulo">Titulo:</label>
 <input
 class="form-control"
 type="titulo"
 name="titulo"
 id="titulo"
 placeholder="Digite o título do filme"
 />
 </div>
 <div class="col-12">
 <label class="form-label" for="categoria">Categoria:</label>
 <input
 class="form-control"
 type="categoria"
 name="categoria"
 id="categoria"
 placeholder="Digite a categoria do filme"
 />
 </div>
 <div class="col-12">
 <label class="form-label" for="genero">Gênero:</label>
 <input
 class="form-control"
 name="genero"
 id="genero"
 placeholder="Digite o gênero do filme"
 />
 </div>
 <div class="col-12">
 <label class="form-label" for="linkSinopse">Link da Sinopse:</label>
 <input
 class="form-control"
 name="linkSinopse"
 id="linkSinopse"
 placeholder="Link da Sinopse do filme"
 />
 </div>
 <div>
 <input class="btn btn-primary my-3" type="submit" value="Cadastrar filme"
/>
 </div>
 </div>
</form>